html, body {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
  background-color: #A8E10C;
  color: #432000;
  user-select: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  margin: 2rem 0;
  padding: 2em;
}

img {
  width: 150px;
  margin: 0 auto;
}

input {
  color: #432000;
  background-color: #dce1eb;
  border: 0;
  padding: .85em;
  border-radius: 8px;
  font-size: 1.2rem;
  text-align: center;
  font-family: 'Rubik', sans-serif;
  margin: 0.75rem 0;
}

button {
  cursor: pointer;
  color: #fdfdfd;
  background-color: #9b58b6;
  border: 0;
  padding: .85em;
  border-radius: 8px;
  font-size: 1.2rem;
  text-align: center;
  font-family: 'Rubik', sans-serif;
}

button:hover {
  background-color: #432000;
}

ul { 
  list-style-type: none;
  padding: 0;
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 10px
}

ul li {
  cursor: pointer;
  font-size: 1.2rem;
  background-color: #FFDB15;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: .85em;
  flex-grow: 1;
  text-align: center;
}

ul li:hover {
  background-color: #ffecc7;
}